#boxOne{
    display: flex;
    justify-content: center;
    margin-top: 8.6563rem;
   
}

#boxTwo{
    display: none;
    justify-content: center;
    margin-top: 8.6563rem;
    background-image: url("../imagens/login/bgimg.png");
    background-repeat: no-repeat;
}

.visible{
  
}

.invisible{
    display: none;
}



#logo{
    width: 11.3619rem;    
}

.container{
    width: 32.625rem ;
    height: 33.375rem;
    background: #ffffff;  
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#textOne{
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #00995D;
    margin: 0.5rem;
}

#textTwo{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
    line-height: 170%;
    text-align: center;
    color: #00995D;
    margin-bottom: 0.5rem;
}

#textThree{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0,875rem;
    line-height: 17px;    
    color: #6F6F6E;
    margin-bottom: 1.5rem;
    margin-left: 0;
}


.field{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #4F4F4F;
 }

 .labelOne{
line-height: 1rem;
margin-left: 0.25rem;
 }

 .asterisk{
    color: #EB5757;
 }

.input{
    width: 23.69rem;
    height: 2.995rem;
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    top: 31.39%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    margin-bottom: 2rem;
    padding-left: 15px;
}

.nextOpt{
    margin-left: 11.875rem;   
    padding: 0rem 0.75rem 0rem 1.5rem;
    gap: 13px;
    width: 192px;
    height: 48px;
    background: #00995D;
    color: #FFFFFF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
}

button, #nextOpt{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    order: 0;
    flex-grow: 0;
}

div, i{
    margin-left: 12px;
}