.dropGender {
  position: relative;
  display: inline-block;
}

.dropGender .selectGender {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  max-height: 200px;
  overflow-y: auto;
}

.dropGender .selectGender div {
  padding: 5px;
  cursor: pointer;
}

.dropGender .selectGender div:hover {
  background-color: #f2f2f2;
}

.dropGender.open .selectGender {
  display: block;
}
